:root {
	--color-white: #ffffff;
	--color-background: #f6f8f9;

	--color-active: #1f53f1;
	--color-active-highlight: #316ED81F;

	--color-text-dark: #000a41;
	--color-text-dark-mute: #607087;

	--color-border: #e6e8eb;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}
