.editor {
	background-color: var(--color-white);
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 2px 16px hsla(0, 0%, 0%, 0.16);
}

.title {
	width: 100%;
	border-bottom: 1px solid var(--color-border);
	font-size: 14px;
	font-weight: 600;
	color: var(--color-text-dark-mute);
	padding: 0 20px;
	line-height: 40px;
	background-color: var(--color-background);
}
